kmdn_news http://www.kmdn.gov.tw/ch/News_NewsList.aspx
#kmdn_weather http://www.cwb.gov.tw/V7/observe/24real/Data/46711.htm
#kmdn_radar http://www.cwb.gov.tw//V7/js/MOS_1024.js
#kmdn_uv http://www.cwb.gov.tw/V7/observe/UVI/UVI.htm
#kmdn_fishery http://www.cwb.gov.tw/V7/forecast/fishery/Tidal30days/902001.htm
#kmdn_typhoon_text http://www.cwb.gov.tw/V7/prevent/warning/w21.htm
#kmdn_typhoon_image http://www.cwb.gov.tw/V7/prevent/warning/B20.htm
#kmdn_forecast http://www.cwb.gov.tw//V7/forecast/week/week.htm
#kmdn_arrival http://www.kma.gov.tw/Main/MoreArrival.aspx
#kmdn_depart http://www.kma.gov.tw/Main/MoreDeparture.aspx
#kmdn_userSearch http://118.163.250.193/UserSeach.aspx
#kmdn_port http://port.kinmen.gov.tw/realtimeshow1.php
#kmdn_bus http://ebus.kinmen.gov.tw/Kinmen/aspx/traffic/schedule.aspx?StopName=stop1




